

.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--Grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--Grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;

}

.sidebar{
    display: flex;
    background-color: var(--Grey-dark-1);
    font-size: 1.4rem;
    flex: 0 0 18%;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    //background-color: rgb(241, 153, 153);
    flex: 1;
}

